<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014517568445-n1m36jdbkp0u6abes9lv1h96802c3nja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014517568445-n1m36jdbkp0u6abes9lv1h96802c3nja</string>
	<key>API_KEY</key>
	<string>AIzaSyDMALnxuHNMK4yMFLLeziR9gnfZJ3LM1P4</string>
	<key>GCM_SENDER_ID</key>
	<string>1014517568445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sgitalia.app</string>
	<key>PROJECT_ID</key>
	<string>app-sgi-italia</string>
	<key>STORAGE_BUCKET</key>
	<string>app-sgi-italia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014517568445:ios:78b207a6894cd6735638d4</string>
</dict>
</plist>